.image-container {
  position: relative;
  width: 1920px; /* Adjust as needed */
  height: 1080px; /* Adjust as needed */
}

.image-container .fade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0; /* Start images as invisible */
  transition: opacity 1.5s ease-in-out; /* Smooth transition for fade-in effect */
}

.image-container .visible {
  opacity: 1; /* Fully visible when this class is applied */
}
